<h1>Welcome to Domus</h1>

<h2>A simple meeting notes tracker</h2>
<br>
<p>Meetings are a fact of life</p>

<p>The portion of the meeting that applies to you is likely small</p>

<p>But it's something you have to remember.</p>

<h2>How?</h2>
<p><strong style="font-weight: bold;">An easy four-step process</strong></p>
<ul>
  <li>- Register (if already registered, then log in)</li>
  <li>- Use the form to enter the meeting name and any details you need to remember</li>
  <li>- When you need to remember what happened at a specific meeting, just <strong style="font-weight: bold;">hover</strong> over that meeting to see your notes</li>
  <li>- Wow people with you recall of what happened at meetings.</li>
</ul>
