<section class="meetings cf">

  <h1>Add a Meeting</h1>
  <form class="formgroup addmeeting cf" name="myform" ng-submit="addMeeting()" novalidate>
    <div class="inputwrapper">
      <input type="text" name="meetingname" placeholder="Meeting Name" ng-model="meeting.name" ng-required="true">
      <br>
      ​<textarea id="txtArea" name="meetingdetail" placeholder="Meeting Detail" ng-model="meeting.detail" ng-required="true" rows="10" cols="70"></textarea>
    </div>
    <button type="submit" class="btn" ng-disabled="myform.$invalid">+</button>
  </form>


  <h1>Past Meetings</h1>
  <div class="meeting" ng-repeat="(key,meeting) in meetings">
    <button class="btn btn-delete tooltip" ng-click="removeMeeting(key)"><span>Delete</span></button>
    <div class="text tooltip"><span>{{meeting.detail}}</span>{{meeting.name}}</div>
  </div>
</section>
